@font-face {
  font-family: "Authentic Sans";
  font-style: normal;
  src: url("type/AUTHENTICSans-90.woff"), url("type/AUTHENTICSans-90.woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	background-image: url('blur.png');
	background-size: 100vw 100vw;
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: "Authentic Sans", sans-serif;
}

#currentTime {
	padding-top: 1em;
	margin: 0;
	width: 100%;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1em;
	height: 7.5em;
	z-index: 100;
	text-align: center;
	position: fixed;
}

a, a:active, a:hover {
	color: black;
	text-decoration: none;
}

.sign {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.75em;
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  font-size: 1.15em;
  width: 17.5em;
  text-align: center;
  justify-items: center;
  padding-bottom: 2.5em;
  padding-top: 22.5em;

}

img {
	width: 50%;
	height: auto;
	padding-top: 2em;
	padding-bottom: 2em;
}

#start {
	font-family: Times New Roman;
	font-weight: bold;
	width: 15em;
	padding: 10px;
	text-align: center;
	display: inline-block;
	border: 1.25px solid black;
	border-radius: 50%;
	margin-top: 1em;
	margin-bottom: 2em;
	transition: 0.15s;
}

#start:active, #start:hover {
	background: black !important;
	color: white;
}

@media (max-width: 500px) {

	body {
	background: white;
	margin: 0;
	padding: 0;
}

	.sign {
		display: none;
	}

	.wrapper {
		display: block;
	}

#currentTime {
	padding-top: 1em;
	margin: 0;
	width: 100%;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1em;
	height: 7.5em;
	z-index: 100;
	text-align: center;
	position: fixed;
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

}