@font-face { 
font-family: "Arial Narrow"; 
src: url('arial_narrow.ttf') format('truetype'); 
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	background: limegreen;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Arial Narrow"
}

#currentTime {
	padding-top: 1em;
	margin: 0;
	width: 100%;
	font-size: 1em;
	height: 7.5em;
	z-index: 100;
	text-align: center;
	position: fixed;
	/*background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));*/
}

a, a:active, a:hover {
	color: black;
	text-decoration: none;
}

.wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.sign {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  font-size: 2.75em;
}

#start {
	width: 4em;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border: 1.25px solid black;
	border-radius: 50px;
	margin-top: 1em;
	font-size: 0.95em;
}

#start:active, #start:hover {
	background: black !important;
	color: limegreen;
}

@media (max-width: 500px) {

	.sign {
		display: none;
	}

	.wrapper {
		display: block;
	}

}