@font-face {
  font-family: "Authentic Sans";
  font-style: normal;
  src: url("type/AUTHENTICSans-90.woff"), url("type/AUTHENTICSans-90.woff2");
}

@font-face {
  font-family: "Authentic Sans Condensed";
  font-style: normal;
  src: url("type/AUTHENTICSans-Condensed-90.woff"), url("type/AUTHENTICSans-Condensed-90.woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Authentic Sans";
}

.graphic {
	width: 50%;
	filter: blur(5px);
}


a, a:active {
	text-decoration: none;
	transition: 0.15s;
}

a:visited, a:link {
	color: limegreen;
}

 a:hover {
 	color: black;
 }

figure {
	margin-bottom: 1em;
	margin-top: 1em;
}

figcaption {
	font-size: 0.75em;
	margin-top: 1em;
	font-family: "Authentic Sans Condensed";
}

.dl {
	color: black;
	width: 10em;
	padding: 10px;
	text-align: center;
	display: inline-block;
	border: 1.25px solid black;
	border-radius: 50%;
	margin-top: 1em;
	font-size: 0.75em;
	font-family: Times New Roman;
	font-weight: bold;
	transition: 0.15s;
}

.dl:active, .dl:hover {
	background: black;
	color: white;
}

.concept {
	color: limegreen;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	font-size: 0.75em;
}

#currentTime {
	padding-top: 1em;
	margin: 0;
	width: 100%;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1em;
	font-size: 1em;
	height: 7.5em;
	z-index: 100;
	text-align: center;
	position: fixed;
	background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

#diagram-cont {
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em;
	position: absolute;
	top: 25%;
	/*background: yellow;*/
}




