<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="https://em-content.zobj.net/source/apple/391/large-green-square_1f7e9.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fragment.css">
	<title>Good Morning..!</title>
</head>
<body>
	<div id="currentTime"></div>
	<div class="container">
		<p>This condition, described by <a href="https://www.pomoculture.org/2020/06/29/sociable-mediaphatic-connection-in-digital-art/">James J. Hodge</a> as the state of “always being on”, has effectively changed the temporal nature of greeting graphics.</p>
    <br>
    <p>Evolving from their material origins as tokens reserved for celebratory occasions, the contemporary iteration of the greeting card can address its receiver at any point of day</p> 
	</div>
<script type="text/javascript">

function updateCurrentTimeIST() {

  const now = new Date();
  const ISTOffset = 570 * 60 * 1000; // 5 hours 30 minutes in milliseconds
  const ISTTime = new Date(now.getTime() + ISTOffset);

  let hours = ISTTime.getHours();
  let minutes = ISTTime.getMinutes();
  let seconds = ISTTime.getSeconds();

  const meridiem = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12 || 12; // Convert 0 to 12 for 12-hour format
  minutes = minutes < 10 ? '0' + minutes : minutes;
  seconds = seconds < 10 ? '0' + seconds : seconds;

  const timeStringIST = hours + ':' + minutes + ' ' + meridiem + ' ' + '(IST)';

  const currentTimeISTElement = document.getElementById('currentTime');
  if (currentTimeISTElement) {
    currentTimeISTElement.textContent = timeStringIST;
  }
}

updateCurrentTimeIST();
setInterval(updateCurrentTimeIST, 1000);

</script>
</body>
</html>