<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="https://em-content.zobj.net/source/apple/391/large-green-square_1f7e9.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="fragment.css">
	<title>Good Morning..!</title>
</head>
<body>
	<div id="currentTime"></div>
	<div class="container">
		<p>In its analysis of visual imagery characterized by non-professional design principles and interactions with digital technologies, the “vernacular web”, as used by <a href="https://art.teleportacia.org/observation/vernacular/">Olia Lialina</a> and other Internet researchers, offers key insights into the circulation of the modern day “Good Morning” greeting card.</p><br>
		<p>However, through the intrinsic links to colonial and gendered histories regarding domestic work made by its Latin root vernaculus, this paper will try to shift away from this terminology7</p>
</p> 
	</div>
<script type="text/javascript">

function updateCurrentTimeIST() {

  const now = new Date();
  const ISTOffset = 570 * 60 * 1000; // 5 hours 30 minutes in milliseconds
  const ISTTime = new Date(now.getTime() + ISTOffset);

  let hours = ISTTime.getHours();
  let minutes = ISTTime.getMinutes();
  let seconds = ISTTime.getSeconds();

  const meridiem = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12 || 12; // Convert 0 to 12 for 12-hour format
  minutes = minutes < 10 ? '0' + minutes : minutes;
  seconds = seconds < 10 ? '0' + seconds : seconds;

  const timeStringIST = hours + ':' + minutes + ' ' + meridiem + ' ' + '(IST)';

  const currentTimeISTElement = document.getElementById('currentTime');
  if (currentTimeISTElement) {
    currentTimeISTElement.textContent = timeStringIST;
  }
}

updateCurrentTimeIST();
setInterval(updateCurrentTimeIST, 1000);

</script>
</body>
</html>